* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    margin: 0 auto;
}

.header-top {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-top: 56px;
    margin-bottom: 70px;
}

.logo__text {
    margin-right: 270px;
    font: 900 27px/45px 'Mplus 1p', arial, helvetica, sans-serif; 
    letter-spacing: 2px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-nav_link {
    display: flex;
    align-items: center;
}

.menu-nav__link_item{
    margin-right: 56px;
    font: 800 17px/30px 'Mplus 1p',arial, helvetica, sans-serif;
    letter-spacing: 2.1px;
    color: #000;
    text-decoration: none;
    transition: opacity 0.5s;
}

.menu-nav__link_item:last-child {
    margin-right: 170px;
}

/* .menu-nav__link_item:nth-child(2) {
    margin-right: 55px;
    letter-spacing: 2.1px;
} */

/* .menu-nav__link_item:nth-child(3) {
    margin-right: 55px;
    letter-spacing: 2.2px;
} */

/* .menu-nav__link_item:nth-child(4) {
    margin-right: 250px;
    letter-spacing: 2.2px;
    margin-top: -2px;
} */

.menu-nav_tel{
    display: flex;
    margin-right: 140px
}

.menu-nav_tel_icon {
    margin-right: 18px;
}

.menu-nav_tel_number {
    font: 800 17px/30px 'Mplus 1p', arial, helvetica, sans-serif;
    letter-spacing: 2.2px;
    text-decoration: none;
    white-space: nowrap;
    color:#000;
}

.menu-nav_burger {
    position: relative;
    width: 27px;
    height: 16px;
    padding-top: 16px
}

.menu-nav_burger_btn {
    position: absolute;
}

.main__main-bg {
    height: 480px;
    background: url(img/bg/header-bg.jpg) 50%/cover no-repeat;
}

.main__main-bg__title {
    font: 500 54px/80px 'Mplus 1p', arial, helvetica, sans-serif;
    margin-bottom: 6px;
    margin-left: 147px;
    padding-top: 107px;
    color: #F61067;
}

.main__main-bg__header-slogan {
    font: 800 18px/37px 'Mplus 1p', arial, helvetica, sans-serif;
    margin-left: 146px;
    margin-bottom: 296px;
    text-transform: uppercase;
    color: #F4F4ED;
    letter-spacing: 4px;
}

                                        /* МЕДИАЗАПРОСЫ */

@media (max-width: 1660px) {
  .header-top {
      margin-bottom: 44px;
  }

  .logo__text {
      margin-right: 200px;
      padding-top: 0;
  }
}

@media (max-width: 1520px) {
  .header-top {
      margin-bottom: 44px;
  }

  .logo__text {
      margin-right: 104px;
      padding-top: 0;
  }
}

@media (max-width: 1440px) {
  .header-top {
        margin-bottom: 44px;
        padding-top: 25px;
        padding-left: 2px;
  }

  .logo__text {
      margin-right: 195px;
      padding-top: 32px;
      letter-spacing: 0;
  }

  .menu-nav__link_item {
       font: 800 16px/30px 'Mplus 1p', arial, helvetica, sans-serif;
      margin-right: 56px;
      letter-spacing: 1px;
      padding-top: 38px;
  }

  .menu-nav__link_item:last-child {
      margin-right: 98px;
  }

  .menu-nav_tel {
      padding-top: 38px;
      margin-right: 128px
  }

  .menu-nav_tel_icon {
      margin-right: 16px;
  }

  .menu-nav_tel_number {
      font: 800 15px/30px 'Mplus 1p', arial, helvetica, sans-serif;
      letter-spacing: 2px;
  }

  .menu-nav_burger {
      padding-top: 49px
  }

  .main__main-bg {
      height: 360px;
  }
}

@media (max-width: 1340px) {
    .header-top {
        margin-top: 21px;
    }

    .logo__text {
        margin-right: 195px;
        letter-spacing: 0;
    }

    .menu-nav__link_item {
        font: 800 16px/30px 'Mplus 1p', arial, helvetica, sans-serif;
        margin-right: 56px;
        letter-spacing: 1px;
        padding-top: 38px;
    }

    .menu-nav__link_item:last-child {
        margin-right: 98px;
    }

    .menu-nav_tel {
        padding-top: 38px;
        margin-right: 128px
    }

    .menu-nav_tel_icon {
        margin-right: 16px;
    }

    .menu-nav_tel_number {
        font: 800 15px/30px 'Mplus 1p', arial, helvetica, sans-serif;
        letter-spacing: 2px;
    }

    .menu-nav_burger {
        padding-top: 49px
    }

    .main__main-bg {
        height: 360px;
    }
}

@media (max-width: 1024px) {
    .header-top {
        margin-top: 21px;
    }

    .logo__text {
        margin-right: 195px;
        letter-spacing: 0;
    }

    .menu-nav__link_item {
        font: 800 16px/30px 'Mplus 1p', arial, helvetica, sans-serif;
        margin-right: 56px;
        letter-spacing: 1px;
        padding-top: 38px;
    }

    .menu-nav__link_item:last-child {
        margin-right: 98px;
    }

    .menu-nav_tel {
        padding-top: 38px;
        margin-right: 128px
    }

    .menu-nav_tel_icon {
        margin-right: 16px;
    }

    .menu-nav_tel_number {
        font: 800 15px/30px 'Mplus 1p', arial, helvetica, sans-serif;
        letter-spacing: 2px;
    }

    .menu-nav_burger {
        padding-top: 49px
    }

    .main__main-bg {
        height: 260px;
    }
}



/* .main {
    margin-bottom: 141px;
}

.main__main-discription {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 166px;
    flex-direction: column;
    width: 39%;
}

.main-discription_subtitle {
    font: 800 13px/26px 'Mplus 1p', arial, helvetica, sans-serif;
    margin-bottom: -25px;
    color: #F61067;
    text-transform: uppercase;
    letter-spacing: 5.9px;
}

.main-discription_title {
    font: 500 45px/67px 'Mplus 1p', arial, helvetica, sans-serif;
    margin-bottom: 4px;
    margin-left: -2px;
    color: #30233D;
}

.main-discription_fluid-slogan {
    font: 800 18px/30px 'Mplus 1p', arial, helvetica, sans-serif; 
    text-align: center;
    margin-left: -1px;
    padding-left: 1px;
    color: #30233D;
}

.main__main-team {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 10%, #150433 9%);
    min-height: 1203px;
}

.main__main-team__person {
    display: flex;
    flex-wrap: wrap;
    width: 1048px;
    min-height: 394px;
    padding-top: 2px;
    margin: 0 auto;
}

.main__main-team__person_foto1 {
    margin-right: 127px;
    margin-bottom: -2px;
}

.main__main-team__person_foto2 {
    margin-right: 133px;
}

.main__main-team__person_foto4 {
    margin-right: 124px;
    margin-bottom: -2px;
}

.main__main-team__person_foto5 {
    margin-right: 133px;
}

.main__main-team__person_name {
    font: 800 22px/35px 'Mplus 1p', arial, helvetica, sans-serif;
    margin-bottom: -12px;
    padding-left: 65px;
}

.main__main-team__person_position {
    font: 800 13px/26px 'Mplus 1p', arial, helvetica, sans-serif;
    padding-left: 77px;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.main__main-team__person_social {
    display: flex;
    margin-bottom: 127px;
}
   
.main__main-team__person_social-icon-twitter {
    margin-right: 43px;
    margin-left: 64px;
}

.fa-twitter {
    font-size: inherit;
    color: #00A8F0;
}

.fa-dribbble {
    color: #F61067;
}

.fa-codepen {
    color: #F4F4ED;
}

.main__main-team__person_social-icon-dribbble {
    margin-right: 43px;
}

.main__slogan-latin {
    background: top -14px right 0px no-repeat url(img/bg/faces.png);
    min-height: 1080px;
    margin-bottom: -179px;
}

.main__slogan-latin_foto-senior {
    margin-top: -126px;
    margin-left: 492px;
    border-radius: 50%;
} */

/* .main__slogan-latin_quotes {
    margin-top: -37px;
    margin-left: 680px;
    margin-bottom: 29px;
}

.main__slogan-latin_slogan {
    font: 400 36px/64px 'Noticia Text', arial, helvetica, sans-serif;
    width: 720px;
    margin-left: 174px;
    margin-right: 180px;
    text-align: center;
    margin-bottom: 35px;
    color: #30233D;
}

.main__slogan-latin_slogan_name {
    font: 400 18px/29px 'Mplus 1p', arial, helvetica, sans-serif;
    margin-left: 588px;
}

.main__slogan-latin_name-red {
    font: 800 18px/29px 'Mplus 1p', arial, helvetica, sans-serif;
    color:#F61067;
}

.main__slogan-latin_btn {
    display: flex;
    align-items: center;
    margin-bottom: -18px;
}

.main__slogan-latin_slogan_btn-left {
    border: 2px #F61067 solid;
    border-radius: 50%;
    background-color: #F61067;
    width: 35px;
    height: 35px;
    margin-top: 5px;
    margin-left: 152px;
    cursor: pointer;
}

.main__slogan-latin_slogan_btn-right {
    border: 2px #F61067 solid;
    border-radius: 50%;
    background-color: #FCFCFC;
    width: 36px;
    height: 35px;
    margin-top: 6px;
    margin-left: -2px;
    cursor: pointer;
}

.main__newsletter {
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

input {
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
}

.main__newsletter_btn {
    font: 800 18px/37px 'Mplus 1p', arial, helvetica, sans-serif;
    letter-spacing: 4px;
    border: none;
    padding-top: 8px;
    padding-left: 23px;
    margin-right: 84px;
}

.main__newsletter_subscribe {
    display: flex;
}

.main__newsletter_subscribe-input {
    display: inline-block;
    min-width: 167px;
}

.main__newsletter_subscribe-gradient {
    display: flex;
    width: 226px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 100%);
}

.main__newsletter_title {
    font: 500 45px/67px 'Mplus 1p', arial, helvetica, sans-serif;
    margin: 0;
    margin-bottom: 23px;
    padding-left: 2px;
}

.main__newsletter_subtitle {
    font: 500 18px/26px 'Mplus 1p', arial, helvetica, sans-serif;
    margin: 0;
    margin-bottom: 48px;
}

.main__newsletter_title-btn {
    font: 800 12px/26px 'Mplus 1p', arial, helvetica, sans-serif;
    color: #F61067;
    text-transform: uppercase;
    letter-spacing: 6.2px;
    padding-top: 2px;
    margin-right: 23px;
    margin-left: 28px;
} */

/* .main__newsletter_subscribe-gradient-img {
    border: 2px #F61067 solid;
    border-radius: 50%;
    background-color: #FCFCFC;
    width: 27px;
    height: 27px;
    margin-top: 13px;
    margin-left: -2px;
    cursor: pointer;
}

.main__newsletter_img-right {
    display: inline-block;
}

.main__line-backgound {
    width: 558px;
    height: 3px;
    background-color: #F4F4ED;
    margin: 0 auto;
}

footer {
    background: #150433;
    min-height: 558px;
}

.footer__wrapper {
    display: flex;
    width: 1146px;
    margin: 0 auto;
    margin-bottom: 68px;
}

.footer__wrapper_logo {
    width: 150px;
    padding-top: 90px;
    margin-right: 143px;
}

.footer__wrapper_logo-title {
    font: 900 24px/43px 'Mplus 1p', arial, helvetica, sans-serif;
    color: #FCFCFC;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.footer__wrapper_logo-subtitle {
    font: 400 16px/26px 'Mplus 1p', arial, helvetica, sans-serif;
    color: #FCFCFC;
}

.footer__wrapper__nav {
    display: flex;
}

.footer__wrapper__nav-menu,
.footer__wrapper__nav-services,
.footer__wrapper__nav-contact-us,
.footer__wrapper__nav-follow-us {
    display: flex;
    flex-direction: column;
    padding-top: 123px;
    padding-left: 1px;
}

.footer__wrapper__nav-menu {
    margin-right: 33px;
}

.footer__wrapper__nav-services {
    margin-right: 83px;
}

.footer__wrapper__nav-contact-us {
    margin-right: 129px;
}
.footer__wrapper__nav-menu_menu-activ,
.footer__wrapper__nav-services_services-activ,
.footer__wrapper__nav-contact-us_nav-contact-us-activ,
.footer__wrapper__nav-follow-us_nav-follow-us-activ {
    position: relative;
    font: 800 13px/26px 'Mplus 1p', arial, helvetica, sans-serif;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 28px;
    color:#FCFCFC;
}

.footer__wrapper__nav-menu_menu-activ::after,
.footer__wrapper__nav-services_services-activ::after,
.footer__wrapper__nav-contact-us_nav-contact-us-activ::after,
.footer__wrapper__nav-follow-us_nav-follow-us-activ::after {
    position: absolute;
    top: 28px;
    left: 0;
    display: block;
    content: '';
    width: 86%;
    height: 3px;
    background: #0056ec;
    transition: opacity 0.5s;
}

.footer__wrapper__nav-services_services-activ::after {
    width: 93%;
}

.footer__wrapper__nav-contact-us_nav-contact-us-activ::after {
    width: 93%;
}

.footer__wrapper__nav-contact-us_nav-contact-us-activ::after {
    width: 83%;
}

.footer__wrapper__nav-follow-us_nav-follow-us-activ::after {
    width: 47%;
}

.footer__wrapper__nav-contact-us,
.footer__wrapper__nav-follow-us_nav-follow-us-activ {
    padding-left: 1px;
    margin-bottom: 50px;
}

.footer__wrapper__nav-menu_ul,
.footer__wrapper__nav-services_ul {
    font: 700 12px/28px 'Mplus 1p', arial, helvetica, sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    padding-left: 1px;
    color:#FCFCFC;
} */

/* .footer__wrapper__nav-contact-us__contact-us-email {
    padding-top: 2px;
    margin-bottom: 12px;
}

.footer__wrapper__nav-contact-us__contact-us-email_letter {
    margin-top: 4px;
    margin-right: 12px;
    letter-spacing: 2.2px;
    padding-left: 2px;
} */

/* .footer__wrapper__nav-contact-us__contact-us-email_email {
    font: 400 16px/26px 'Mplus 1p', arial, helvetica, sans-serif;
    text-decoration: none;
    padding-left: 1px;
    color:#FCFCFC;
}

.footer__wrapper__nav-services_ul {
    padding-left: 2px;
}

.footer__wrapper__nav-contact-us__contact-us-email_tel {
    margin-top: 4px;
    margin-right: 15px;
    padding-left: 2px;
}

.footer__wrapper__nav-contact-us__contact-us-email_email_number {
    font: 400 16px/26px 'Mplus 1p', arial, helvetica, sans-serif;
    text-decoration: none;
    padding-left: 1px;
    color:#FCFCFC;
}

.footer__wrapper__nav-follow-us_social {
    display: flex;
}

.footer__wrapper__nav-follow-us_social_twitter {
    margin-right: 43px;
    padding-left: 4px;
}

.footer__wrapper__nav-follow-us_social_facebook {
    margin-right: 40px;
}

.fab,
.fa-facebook-square {
    width: 18px;
    height: 18px;
    color: #FCFCFC;
}

.footer__wrapper__nav-follow-us_social_insagram {
    margin-right: 36px;
}

.fa-instagram {
    width: 26px;
    height: 18px;
    color: #FCFCFC;
}

.footer__wrapper__nav-follow-us_social_youtube {
    margin-right: 36px;
}

.fa-youtube {
    width: 26px;
    height: 18px;
    color: #FCFCFC;
}

.footer__wrapper_copywriter {
    font: 400 11.7px/19.11px 'Mplus 1p', arial, helvetica, sans-serif;
    color: #FCFCFC;
    margin-left: 440px;
} */

/* Медиазапросы  */

/* @media (min-width: 1701px) and (max-width: 1900px) {
    .header__header-bg-art {
        width: 100%;
    }

    .menu-nav__link_item {
        font: 800 16px/30px 'Mplus 1p', arial, helvetica, sans-serif;
    }

    .menu-nav_tel_number {
        font: 800 16px/30px 'Mplus 1p', arial, helvetica, sans-serif;
    }

    .main__slogan-latin {
        background: top -14px right 242px no-repeat url(img/bg/faces.png);
    }

    .main__slogan-latin_foto-senior {
        margin-left: 685px;
    }

    .main__slogan-latin_quotes {
        margin-left: 874px;
        margin-bottom: 68px;
    }

    .main__slogan-latin_slogan_name {
        margin-left: 777px;
    }

    .main__slogan-latin_slogan {
        width: 710px;
    }

    .main__slogan-latin_btn {
        margin-left: 159px;
    }

    .main__slogan-latin_slogan_btn-left {
        margin-right: 33px;
    }

    .main__newsletter {
        margin-left: 487px;
    }

    .main__line-backgound {
        width: 585px;
        margin-left: 601px;
    }

    .footer__wrapper_copywriter {
        margin-left: 651px;
    }

} */

/* @media (min-width: 1601px) and (max-width: 1700px) {
    .header__header-bg-art {
        width: 100%;
    }

    .menu-nav__link_item {
        font: 800 16px/30px 'Mplus 1p', arial, helvetica, sans-serif;
    }

    .menu-nav_tel_number {
        font: 800 16px/30px 'Mplus 1p', arial, helvetica, sans-serif;
    }

    .main__slogan-latin {
        background: top -14px right 166px no-repeat url(img/bg/faces.png);
    }

    .main__slogan-latin_foto-senior {
        margin-left: 603px;
    }

    .main__slogan-latin_quotes {
        margin-left: 792px;
    }

    .main__slogan-latin_slogan_name {
        margin-left: 679px;
    }

    .main__slogan-latin_slogan {
        width: 793px;
        margin-left: 229px;
    }
  
    .main__newsletter {
        margin-left: 432px;
    }

    .main__line-backgound {
        width: 538px;
        margin-left: 557px;
    }

    .footer__wrapper_copywriter {
        margin-left: 567px;
    }

} */

/* @media (min-width: 1501px) and (max-width: 1600px) {
    .header__header-bg-art {
        width: 100%;
    }

    .main__slogan-latin {
        background: top -14px right 145px no-repeat url(img/bg/faces.png);
    }

    .main__newsletter {
        margin-left: 364px;
    }

    .main__line-backgound {
        width: 542px;
        margin-left: 463px;
    }

    .footer__wrapper_copywriter {
        margin-left: 517px;
    }

} */

/* @media (min-width: 1441px) and (max-width: 1500px) {
  .main__slogan-latin {
      background: top -14px right 34px no-repeat url(img/bg/faces.png);
  }

  .main__newsletter {
      margin-left: 393px;
  }

  .footer__wrapper_copywriter {
      margin-left: 471px;
  }

} */

@media (max-width: 768px) {
  .menu {
      display: none;
      overflow: hidden;
  }
  .header-menu {
      display: flex;
      /* justify-content: space-between; */
  }

  .header-top {
      display: flex;
      /* justify-content: space-between; */
      width: 80%;
  }

  .logo__text {
      font: 900 17px/30px 'Mplus 1p', arial, helvetica, sans-serif;
      padding: 0px 0 42px 17px;
      margin-right: 28px;
  }

  .menu {
      align-items: flex-start;
      padding: 0px 0 0px 0px;
      border: 1px solid red;
  }

  .header__header-bg-art {
      width: 100%;
  }
  
  .menu-nav_link {
      display: flex;
      align-items: center;
      margin: 0;
      /* margin-right: 41px; */
      /* margin-left: 19px; */
      padding-top: 2px;
  }

  .menu-nav__link_item {
      font: 800 12px/30px 'Mplus 1p', arial, helvetica, sans-serif;
   }
  
  .menu-nav__link_item {
      margin-right: 20px;
      padding-top: 1px;
      font: 800 12px/30px 'Mplus 1p', arial, helvetica, sans-serif;
  }
  
  .menu-nav__link_item:nth-child(2) {
      margin-right: 41px;
  }

  .menu-nav__link_item:nth-child(3) {
      margin-right: 40px;
  }

  .menu-nav__link_item:nth-child(4) {
      margin-right: 3px;
      letter-spacing: 2.2px;
      margin-top: -2px;
  }

  .menu-nav_tel_icon {
      width: 14px;
      height: 20px;
  }

  .menu-nav_tel_number {
      font: 800 11px/19px 'Mplus 1p', arial, helvetica, sans-serif;
  }
  
  .main__slogan-latin {
      background: top -14px right 34px no-repeat url(img/bg/faces.png);
  }

  .main__newsletter {
      margin-left: 393px;
  }

  .footer__wrapper_copywriter {
      margin-left: 471px;
  }
}

/* .logo__circle {
    transform: translateY(-50%);
    position: absolute;
    width: 28px;
    height: 28px;
}

.logo__circle_color_dark-blue {
    left: 5px;
    top: 49%;
    background: #0056ec;
    border-radius: 50%;
    opacity: 0.7;
}

.logo__circle_color_blue {
    left: 13px;
    top: 55%;
    background: #c8dbfb;
    border-radius: 50%;
    opacity: 0.7;
}

.menu {
    display: flex;
    align-items: center;
    padding: 44px 0 40px 49px;
    width: 386px;
}

.menu__item_active::after {
    position: relative;
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: #0056ec;
    left: 0;
}

.menu__item {
    position: relative;
    margin-right: 26px;
    padding-top: 3px;
    font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    transition: opacity 0.5s;
}

.menu__item::after {
    position: absolute;
    left: 0;
    display: block;
    content: '';
    width: 0;
    height: 3px;
    background: #0056ec;
    opacity: 0;
    transition: opacity 0.5s;
}

.menu__item:hover {
    opacity: 0.5;
}

.menu__item:hover::after {
    position: absolute;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: #0056ec;
}

.menu__item:hover::after,
.menu__item_active::after {
    opacity: 1;
    width: 100%;
}

.menu__item:last-child {
    margin-right: 0;
    padding-right: 0;
}

.main {
    padding: 75px 63% 283px 3px;
    background: top right 4px no-repeat url(frame.png);
}

.main__title {
    margin: 0 0 35px 0;
    font: bold 66px/87px 'PT Serif', arial, helvetica, sans-serif;
}

.main__title_text-background {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 15%, #ecf3ff 15%);
}

.main__subtitle {
    width: 455px;
    margin: 0 45px 60px 0;
    font: 400 22px/26px 'Roboto', arial, helvetica, sans-serif;
}

@keyframes flash {
    to {
        color: rgb(255, 0, 119);
    }
}

.main__button {
    font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
    color: #fff;
    background: #0056ec;
    padding: 16px 36px 18px 22px;
    text-decoration: none;
    border-radius: 4px;
    transition: opacity 0.5s;
    width: 230px;
    height: 20px;
    animation: flash;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.main__button:hover {
    opacity: 0.5;
}

.points {
    display: flex;
    justify-content: center;
    width: 32px;
    height: 8px;
    margin: 0 auto;
}

.points_point {
    margin-right: 4px;
}

#menu__toggle {
    display: none;
}

@media (max-width: 1366px) {
    .wrapper {
        width: 68.6%;
    }

    .header {
        padding-bottom: 0;
        padding-top: 0;
        margin-bottom: 84px;
    }

    .menu {
        justify-content: space-between;
        padding: 48px 0 40px 49px;
        width: 322px;
    }

    .menu__item {
        font: 500 14px/16px 'Roboto', sans-serif;
        letter-spacing: -0.1px;
    }

    .menu__item:nth-child(2) {
        margin-right: 23px;
    }

    .menu__item:nth-child(3) {
        margin-right: 25px;
    }

    .menu__item:nth-child(-n+2) {
        margin-right: 20px;
    }

    .menu__item:last-child {
        margin-right: 8px;
    }

    .main {
        padding-top: 17px;
        padding-bottom: 6%;
        background-size: 55%;
        background-position: right 2px top -1px;
        margin-bottom: 95px;
    }

    .main__title {
        width: 434px;
        margin-bottom: 40px;
        letter-spacing: 0;
        font: bold 50px/65.5px 'PT Serif', arial, helvetica, sans-serif;
    }

    .main__title-text_highlight {
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 15%, rgba(236, 243, 255, 1) 15% 93%, rgba(255, 255, 255, 1) 93%);
    }

    .main__subtitle {
        width: 367px;
        margin: 0;
        margin-right: 10px;
        margin-bottom: 53px;
        font: 500 18px/21px 'Roboto', sans-serif;
    }

    .main__button {
        width: 168px;
        height: 13px;
        padding: 11px 26px 13px 17px;
        font: 500 14px/21px 'Roboto', sans-serif;
    }
}

@media (max-width: 1024px) {
    .wrapper {
        width: 91.9%;
        max-width: 100%;
    }

    .header {
        margin-bottom: 85px;
    }

    .menu {
        width: 319px;
    }

    .menu__item:nth-child(-n+2) {
        margin-right: 24px;
    }

    .menu__item:last-child {
        margin-right: 6px;
    }

    .main__subtitle {
        margin-bottom: 52px;
    }

}

@media (min-width: 1025px) and (max-width: 1300px) {
    .wrapper {
        max-width: 100%;
    }

    .header {
        margin-bottom: 85px;
    }

    .main {
        background-size: 53%;
        background-position: right 4px top -1px;
        margin-left: 1px;
    }

    .main__title {
        font: bold 40px/65.5px 'PT Serif', arial, helvetica, sans-serif;
    }

    .main__subtitle {
        font: 500 17px/21px 'Roboto', sans-serif;
    }

}

@media (min-width: 769px) and (max-width: 930px) {
    .wrapper {
        max-width: 100%;
    }

    .header {
        margin-bottom: 85px;
    }

    .main {
        background-size: 50%;
    }

    .main__title {
        font: bold 45px/65.5px 'PT Serif', arial, helvetica, sans-serif;
    }

    .main__subtitle {
        font: 500 18px/21px 'Roboto', sans-serif;
    }

}

@media (max-width: 768px) {
    .wrapper {
        width: 100%;
        margin: 0;
    }

    .header {
        margin-bottom: 7px;
        padding: 16px 0;
    }

    .logo {
        margin-left: 24px;
        padding: 4px 0 44px 49px;
    }

    .logo__circle {
        left: 0;
        top: 0;
        top: 46%;
        transform: translateY(-50%);
        position: absolute;
        width: 28px;
        height: 28px;
    }

    .logo__circle_color_dark-blue {
        left: 0;
        top: 49%;
    }

    .logo__text {
        display: none;
    }

    #menu__toggle {
        opacity: 0;
    }

    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 27px;
        right: 24px;
        width: 24px;
        height: 27px;
        cursor: pointer;
        z-index: 1;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 103%;
        height: 3px;
        background-color: #0056ec;
        transition-duration: 0.25s;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    .menu {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 176px 20px;
        list-style: none;
        text-align: center;
        background-color: #fff;
        box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font: 500 30px/36px 'Roboto', arial, helvetica, sans-serif;
        text-decoration: none;
    }

    .menu__item:hover {
        background-color: #cfd8dc;
    }

    .menu__item_active::after {
        display: none;
    }

    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu {
        visibility: visible;
        left: 0;
    }

    .main {
        padding: 69% 0 0;
        background-size: 74%;
        background-position: top center;
        text-align: center;
    }

    .main__title {
        width: auto;
        margin-bottom: 31px;
        padding-left: 4px;
        font: bold 30px/39px 'PT Serif', arial, helvetica, sans-serif;
    }

    .main__subtitle {
        max-width: 65%;
        margin: 0 auto;
        margin-bottom: 38px;
        padding-left: 4px;
        font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
    }

    .main__button {
        font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
    }

    .points {
        display: none;
    }
}

@media (min-width: 226px) and (max-width: 767px) {
    .wrapper {
        width: 100%;
        margin-left: 0;
    }

    .header {
        margin-bottom: 9px;
        padding: 16px 0;
    }

    .logo__circle {
        left: 0;
        top: 0;
        top: 46%;
    }

    .logo__circle_color_blue {
        left: 8px;
        top: 61%;
    }

    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 27px;
        right: 25px;
        width: 24px;
        height: 27px;
        cursor: pointer;
        z-index: 1;
    }

    .menu {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 173px 0 0 12px;
        list-style: none;
        text-align: center;
        background-color: #eceff1;
        box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
    }

    .menu__item {
        margin-right: 29px;
    }

    .menu__item:last-child {
        margin-right: 55px;
    }

    .main {
        margin-bottom: 59px;
    }

    .main__title {
        margin-bottom: 33px;
    }

}
 */